/*
/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #336;
    text-decoration: none;
}


.small{
    font-size: 0.6em;
    color: #666;
}

/* Padding for spacing */

.inner {
    padding: 40px;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #444;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/*--  ==================================================  BACKGROUND FIXED */


.background{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#logo {
    position: absolute;
    bottom: 60px;
    left: 0px;
    background: #fff;
    height: 164px;
    width: 60px;
    overflow: hidden;
    z-index: 1000;
}

#logo .logotype {
    transform-origin: top right;
    display: inline-block;
    color: #000;
    position: relative;
    top: 22px;
    right: 82px;
    font-size: 18px;
    overflow: hidden;
    transform: rotate(-90deg);
}

.background canvas{
    background: #333;
    height: 100%;
    width: 100%;
}

.background canvas{
    background: url(../img/dummy_1.png) center center no-repeat #fff;
    background-size: cover;
}

.background video{
    background: #333;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*--  ==================================================  CONTENT AREA */


.pagewrapper, section.row{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home{
    background: #fff;
    height: 100%;
    padding: 60px 40px;
    display: table;
}

.home main{
    display: table-row;
    top: 0;
    height: 95%;
    width: 100%;
}

/*--  ==================================================  MAIN AREA */

article{
    padding: 0;
    margin: 0 0 40px;
}

main h2{
    font-size: 1em;
    font-weight: 800;
    color: #00f;
    padding: 0;
    margin: 0;
}

/*--  ==================================================  NAVIGATION */

.home nav{
    display: table-row;
    width: 100%;
    height: 5%;
}

.home nav ul{
    display: table-cell;
    vertical-align: bottom;
    width: 95%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.home nav li:before, date:before, .slash{
    content: "/";
    padding-right: 10px;
}

.home nav li{
    display: inline-block;
    padding: 0 10px 0 0;
}

.home nav li a{
    color: #000;
}

.home nav li a:hover{
    color: #00f;
}


/* HIDE SHOW CONTENT */

.home nav div.hide-content{
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.home nav div.hide-content a{
    color: #000;
    text-decoration: none;
    display: block
}

/*--
    ============================================================================
    ============================================================================



    ================================================== MOBILE */


@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}
